$navbar-color: #202225
$primary-color: #36393f
$secondary-color: #2f3136
$third-color: #292b2f
$white-color: #dcddde
$blue-color: #7289da
$green-color: #43b581
$divider-color: #2d2f32
$text-color: #8a8c8c
$text-hover: #dcddde
$hover-color: #34373c

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
$font-small: 12px
$font-medium: 16px


